body{background-color:#2A201D;}



#container {
    background-color:#CDC2B3;
    width: 950px;
    margin: 20px auto #759E9C;
    border: 2px solo;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 { 
    color: #020101;
    font-size: 30px;
}

nav {
text-align: center;
border-top: 4px solid #1C1B1E;
border-bottom: 4px solid #1C1B1E;
padding: 20 px 0;
}

nav a {
    color: #759E9C;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color:#1C1B1E;
    text-decoration:  none;
}

main {
    margin: 20px auto #759E9C;
    border: 2px solo;
    padding: 20px;
    border-radius: 20px;
}

main h2 {
    color:#2A201D;
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #759E9C;
}
